<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Give an example of some of popular languages
- Give an example of some of commonly used language
- Give an example of data science tools used by data scientist
- Some example of using arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. JAVA
3. C+

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

|Data Science Tools|
|------------------|
|Anaconda|
|Google Colab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This is a simple arithmetic expression to multiply then add a number
print("(3*4)+5")
x = 3*4+5
print("The result of the above expression is: ",x)

(3*4)+5
The result of the above expression is:  17

In [6]:
#This will convert 200 minutes to hours by diving by 60
hour = 60
min = 200
result = min/hour
print(min," minutes is equal to ",result ,"hours")

200  minutes is equal to  3.3333333333333335 hours

## Author
Wutthikorn Niyomthong